docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

params {
  filter                       = 'hard'
  group                        = 'united'
  
  septable                     = "/data/obrusnitsyn/male_infertility/septable_cut.csv"
  
  input_dir                    = "/data/obrusnitsyn/male_infertility/wes_data"
  fastp_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/qc"
  align_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/align"
  
  reference                    = "/data/obrusnitsyn/male_infertility/work1/reference/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
  refidx                       = "/data/obrusnitsyn/male_infertility/work1/reference"
  
  dedup_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/deduped"
  bamqc_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/bamqc"
  
  targets                      = "/data/obrusnitsyn/male_infertility/exome_bed/xgen_for_qualimap.bed"
  
  dbsnp                        = "/data/obrusnitsyn/male_infertility/work1/resources/GRCh38.dbSNP157.vcf.gz"
  dbidx                        = "/data/obrusnitsyn/male_infertility/work1/resources"
  
  bqsr_output_dir              = "/data/obrusnitsyn/male_infertility/work_nf/rectabs"
  apply_bqsr_output_dir        = "/data/obrusnitsyn/male_infertility/work_nf/recal"
  haplotypecaller_output_dir   = "/data/obrusnitsyn/male_infertility/work_nf/haplotypecaller"
  combine_output_dir           = "/data/obrusnitsyn/male_infertility/work_nf/cohort"
  genotype_output_dir          = "/data/obrusnitsyn/male_infertility/work_nf/genotype"
  vqsr_snp_output_dir          = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/snp"
  vqsr_indels_output_dir       = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/indels"
  
  hapmap                       = "/data/obrusnitsyn/male_infertility/work1/resources/hapmap_3.3.hg38.vcf.gz"
  omni1000                     = "/data/obrusnitsyn/male_infertility/work1/resources/1000G_omni2.5.hg38.vcf.gz"
  g1000                        = "/data/obrusnitsyn/male_infertility/work1/resources/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
  mills                        = "/data/obrusnitsyn/male_infertility/work1/resources/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
  
  apply_vqsr_snp_output_dir    = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/applied"
  apply_vqsr_indels_output_dir = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/applied"
  merge_vcf_output_dir         = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/merged"
  select_output_dir            = "/data/obrusnitsyn/male_infertility/work_nf/passed"
  
  hard1_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/hard1"
  hard2_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/hard2"
  hard3_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/hard3"
  hard4_output_dir             = "/data/obrusnitsyn/male_infertility/work_nf/vqsr/hard4"
  
  divide_output_dir            = "/data/obrusnitsyn/male_infertility/work_nf/divided"
  s_var_qc_output_dir          = "/data/obrusnitsyn/male_infertility/work_nf/S_variantQC"
  var_qc_output_dir            = "/data/obrusnitsyn/male_infertility/work_nf/variantQC"
  
  vepcache                     = "/data/obrusnitsyn/male_infertility/work_nf/annotation/vep/cache"
  annotate_output_dir          = "/data/obrusnitsyn/male_infertility/work_nf/annotation/vep/results"
  
  multiqc_output_dir           = "/data/obrusnitsyn/male_infertility/work_nf/MultiQC"
  multiqc_config               = "./supportings/multiqc_config.yaml"
}

process {
  withName:run_fastp {
    container = 'biocontainers/fastp:v0.20.1_cv1'
    cpus = 4
    memory = '3 GB'
  }
  withName:align {
    container = 'glebusasha/bwa_samtools'
    cpus = 8
    memory = '10 GB'
  }
  withName:dedup {
    container = 'broadinstitute/picard:latest'
    cpus = 1
    memory = '6 GB'
  }
  withName:bamqc {
    container = 'pegi3s/qualimap:latest'
    cpus = 8
    memory = '8 GB'
  }
  withName:bqsr {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '8 GB'
  }
  withName:apply_bqsr {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '5 GB'
  }
  withName:haplotypecaller {
    container = 'broadinstitute/gatk:latest'
    cpus = 6
    memory = '12 GB'
  }
  withName:combine {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '6 GB'
  }
  withName:genotype {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '6 GB'
  }
  withName:vqsr_snp {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '10 GB'
  }
  withName:vqsr_indels {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '10 GB'
  }
  withName:apply_vqsr_snp {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '8 GB'
  }
  withName:apply_vqsr_indels {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '8 GB'
  }
  withName:merge_vcf {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '4 GB'
  }
  withName:HARD1 {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '4 GB'
  }
  withName:HARD2 {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '4 GB'
  }
  withName:HARD3 {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '4 GB'
  }
  withName:HARD4 {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '4 GB'
  }
  withName:select {
    container = 'broadinstitute/gatk:latest'
    cpus = 1
    memory = '4 GB'
  }
  withName:DIVIDE {
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 1
    memory = '3 GB'
  }
  withName:S_VARIANTQC {
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 4
    memory = '4 GB'
  }
  withName:VARIANTQC {
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 4
    memory = '4 GB'
  }
  withName: ANNOTATE {
    container = 'ensemblorg/ensembl-vep:release_114.2'
    cpus = 4
    memory = '10 GB'
  }
  withName: MULTIQC {
    container = 'staphb/multiqc:latest'
    cpus = 4
    memory = '4 GB'
  }
}

